<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gesco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_care"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".PhotoPick"></activity>
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".UploadDocumentActivity" />
        <activity android:name=".CustomerServiceActivity" />
        <activity android:name=".Registration_DoctorActivity" />
        <activity android:name=".Registration_PatientActivity" />
        <activity android:name=".Registration_SelectActivity" />
        <activity android:name=".User_DoctorActivity" />
        <activity android:name=".Login_DoctorActivity" />
        <activity android:name=".Login_SelectActivity" />
        <activity android:name=".PersonalDataActivity" />
        <activity android:name=".MedicationActivity" />
        <activity android:name=".ReminderActivity" />
        <activity android:name=".User_PatientActivity" />
        <activity android:name=".Login_PatientActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>